
{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 1,
    'no-console': 'off',
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "no-use-before-define": ["error", {"functions": false, "variables": false }],
    "react/button-has-type": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "no-unused-vars": 0,
    "react/no-did-update-set-state": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
