.success {
  align-items: center;
  border-radius: 10px;
  display: flex;
  min-height: 50px;
  max-height: 50px;
  justify-content: space-between;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(150%);
  transition: transform .5s ease;
  background-color: rgb(3, 102, 16);
  color: #fff;
  padding: 0 20px;
}

.success.visible {
  transform: translateX(-50%) translateY(-150%);
}

.successIcon {
  font-size: 20px;
  margin-right: 10px;
}
