.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  border-radius: 10px;
  height: 50px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%) translateY(150%);
  transition: transform .5s ease;
  padding: 0 20px;
}

.toast.success {
  background-color: rgb(3, 102, 16);
  color: #fff;
}

.toast.error {
  background-color: rgb(166, 23, 42);
  color: #fff;
}

.toast.visible {
  transform: translateX(-50%) translateY(-150%);
}

.toastIcon {
  font-size: 20px;
  margin-right: 10px;
}
