header {
  grid-area: header;
  height: 2.5em;
  background: rgb(48, 49, 51);
  display: flex;
  justify-content: space-between;
}

header ul.menu {
  display: flex;
}

header ul.menu li {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

header ul.menu li a {
  color: #fff;
}
header ul.menu li button {
  color: #fff;
}

header ul.menu span:before {
  content: " ";
}

header ul.menu.profile {
  color: #fff;
}

header ul.menu.profile i {
  margin-right: 5px;
}
