.messages-panel {
}

.messages-panel .control {
  display: flex;
  margin-bottom: 10px;
}

.messages-panel .control .multiselect {
  position: relative;
  border: 1px solid rgb(197, 200, 204);
  margin-right: 10px;  
  padding: 5px 10px;  
  display: flex;
  align-items: center;
}

.messages-panel .control .multiselect .dropdown {
}

.messages-panel .control .multiselect .dropdown > button {
  display: flex;
  align-items: flex-end;
}

.messages-panel .control .multiselect .options {
  display: none;
  position: absolute;
  top: 90%;
  left: 10%;
  z-index: 100;
  background: #fff;
  border: 1px solid rgb(197, 200, 204); 
}

.messages-panel .control .multiselect .options.show {
  display: flex;
  flex-direction: column;
}

.messages-panel .control .multiselect .options button {
  padding: 10px 30px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.messages-panel .control .multiselect .options button:hover {
  background: rgb(213, 218, 226);
}

.messages-panel .control .control__btn {
  border: 1px solid rgb(197, 200, 204);
  padding: 5px 10px;    
  margin-right: 5px;
}

.messages-panel .control .divider {
  flex: 1;
}

.messages-panel .control .pagination > span {
  margin-right: 10px;
}

.messages-panel .control .pagination .prev-page {
  border: 1px solid rgb(197, 200, 204);
  margin-right: 10px;
  padding: 5px 10px;    
}

.messages-panel .control .pagination .next-page {
  border: 1px solid rgb(197, 200, 204);
  padding: 5px 10px;    
}

.messages-panel .messages {
  border: 1px solid rgb(197, 200, 204);
}

.messages-panel .messages .message {
  vertical-align: top;
  display: flex;
}

.messages-panel .messages .message:not(:first-child) {
  border-top: 1px solid rgb(197, 200, 204);
}

.messages-panel .messages .message:hover {
  background: rgb(219, 219, 219);
}

.messages-panel .messages .message > * {
  padding: 10px;
}

.messages-panel .messages .message .messages-right-section {
  display: flex;
  flex: 1;
  cursor: pointer;
  outline: 0;
}

.messages-panel .messages .message .messages-right-section .view {
  padding: 0 1em;
}

.messages-panel .messages .message .messages-right-section .view i.viewIcon.unread {
  color: rgb(41, 148, 70);
}

.messages-panel .messages .message .messages-right-section .flex-auto {
  flex: 1;
}

.messages-panel .messages .message .messages-right-section .time-sent {}

.messages-panel .messages .message .messages-right-section .bold-view {
  font-weight: bold;
}


