.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99998;
  background: rgba(0, 0, 0, .55);
}

.confirmation {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 99999;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  padding: 30px;
  color: #fff;
}

.body-modal {
  
}

.ctrl {
  display: flex;
  justify-content: center;
}

.title {
  color: rgba(0, 0, 0, .55);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
}

.proceed {
  background: rgb(65, 115, 193);
}

.cancel {
  background: rgb(48, 49, 51);
}


